@media only screen and (min-width: 37.5em) {
    nav{
        flex-direction: row;
        justify-content: space-between;
    }
    nav div{
        width: 33%;
    }
    nav a{
        font-size: 1.2rem;
    }

}