@import url('https://fonts.googleapis.com/css2?family=Comme&family=Montserrat&display=swap');

body{
    background-color: #b6d8d7;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

header, footer, nav, form, main{
    max-width: 1100px;
    margin: 0 auto;
}

header, footer{
    background-color: #0B132B;
    color: #ffffff;
    justify-content: center;
}

h1{
    font-size: 2.5em;
    font-family: 'Comme', Arial, Helvetica, sans-serif;
}

h2{
    font-size: 2em;
    font-family: 'Comme', Montserrat, sans-serif;
}

h3, h4, p, ul li, time{
    font-family: Montserrat, Helvetica, sans-serif;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.2em;
}

p, ul li{
    font-size: 1em;
}

ul{
    margin: 1em;
    padding: 0;
}
ul li{
    text-align: justify;
}

nav {
	background-color:  #1C2541;
	text-align: center;
	box-shadow: 0 0 30px #333;
	display: flex;
	flex-direction: column;
    color: #ffffff;
}

nav div{
    flex: 1 1 auto;
    border: 1px solid #ffffff;
}

nav a{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	font-size: 0.9rem;
    border: 1px solid #ffffff;
    padding: 1em;
}

nav a:hover{
    background-color: #B6D8D7;
    color:#0B132B;
}

footer{
    flex: auto;
    align-content: space-between;
    font-family: Comme, Montserrat, sans-serif;
}

.logo{
    background-color: #1C2541;
    color: #ffffff;
    align-items: center;
    border: none;
    margin-bottom: 15px;
}

.sm{
    border-radius: 50%;
    width: 2em;
    margin: 0;
    flex-direction: column;
}

.buttons{
    display: block;
    position: absolute;
    top: 50px;
	right: 15px;
	width: fit-content;
    border: none;
}

time{
    display: block;
    text-align: center;
    font-size: 0.9em;
    border: #B6D8D7 2px solid;
    padding: 0.4em;
    margin: 1em;
    background-color: #3A506B;
    border-radius: 5px;
}

.head_logo{
    width: 5em;
    margin-top: 10px;;
}

.city, .chamber{
    margin:0;
}

.foot_logo{
    width: 4em;
    padding: 20px 20px 0 20px;
}

main div{
    border: solid 1px #ffffff;
}

.spots{
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 10px;
    font-family: Comme, Helvetica, sans-serif;
}


.spots div:nth-child(3){
    display: none;
}

#hamburger {
	display: block;
	position: absolute;
	top: 40px;
	right: 15px;
	width: fit-content;
	font-size: 1.3em;
	padding: .2em .4em;
	color: black;
}

.navigation {
    display: flex;
	flex-direction: column;
	list-style-type: none;
    background-color:  #3A506B;
	padding: 0;
    color: #ffffff;
    margin: 0;
}

.navigation ul {
	display: block;
}

.navigation li {
	display: none;
    background-color: #1C2541;
    flex: 1 1 100%;
}

.navigation li a:hover {
    background-color: #B6D8D7;
    color:#0B132B;
}

.navigation.responsive li {
	display: block;
	width: 100%;
}
.navigation.responsive li a {
	display: block;
    align-content: center;
    text-align: center;
}


p{
    margin: 0 1em 1em 1em;
}

footer a:link{
    text-decoration: none;
    color: #B6D8D7;
}

footer a:visited{
    text-decoration: none;
    color: greenyellow;
}

.join{
    display: none;
}
#banner{
    position: relative;
    display: flex;
    padding: 0.5em;
    background-color: rgba(198, 194, 209, 0.9);
    color: black;
    justify-content: center;
    font-size: 13px;
}

button#inactive{
    float: right;
    background-color: transparent;
    border: none;
}

#inactive:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

.hero{
    position: relative;
}

.welcome{
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 0.5em;
}

#joinB, #joinC{
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 800;
    background-color: rgba(100, 194, 209, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 20px #1C2541;
}
#joinB{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    margin: 0 auto;
}

#joinB:hover, #joinC:hover{
    background-color: rgba(5, 71, 82, 0.9);
    color:#b6d8d7;
}

.little{
    font-size: 0.7em;
}

.intro{
    max-width: 800px;
    margin: 2em auto;
}


section img.sites{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 800px;
}

div.days{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    margin: 1em;
}

#discover{
    display: block;
}

form{
    width: 80%;
    font-family: Comme, sans-serif;
    margin: 0 5%;
    max-width: 1100px;
}

form fieldset{
    display: block;
    font-family: Montserrat, sans-serif;
    text-align: left;
    font-size: 1em;
    border: 2px solid #3A506B;
    border-radius: 10px;
    margin-bottom: 2em;
    width: 100%;
}

form legend{
    font-size: 1.5em;
    margin-left: 1em;
}

fieldset div.levels{
    border: none;
}

fieldset div.level-info{
    display: none;
}

form label.information, form label.membership, fieldset label.additional{
    display: block;
    padding: 0.5em;
}

fieldset label.information input{
    display: block;
    min-height: 44px;
    width: 100%;
    max-width: 30em;
    border-radius: 5px;
}

form label.information input:required{
    border-left: red solid 6px;
}

form label.information input:required:valid{
    border-left: green solid 6px;
}

fieldset label.additional{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

fieldset textarea{
    min-height: 5em;
}

form input.joinBtn{
    border: none;
    background-color: #0B132B;
    color: white;
    border-radius: 5px;
    padding: 1em 1.5em;
    margin: 0 0 2rem 2%;
    max-width: 20rem;
}

form input.joinBtn:hover{
    border: #0B132B;
    background-color: #3A506B;
}

table {
    margin: 5px auto;
    border: solid 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px black;
    border-collapse: collapse;
    max-width: 300px;
    text-align: center;
}

caption {
     caption-side: bottom;
     font-size: 0.8em;
     padding: 10px
}

thead th{
    background-color: black;
    color: white;
    font-size: 1em;
}

thead th:nth-child(n+2){
    background-color: #1C2541;
    font-size: 0.7em;
}

th, td{
    padding: 5px;
    border: solid 1px rgba(0, 0, 0, 0.5)
}

tbody tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.3);
}


